global
    log /dev/log local0
    maxconn 2000
    user haproxy
    group haproxy

listen stats
    mode http
    bind *:8404
    stats enable
    stats uri /
    stats refresh 10s
    stats admin if TRUE

defaults
    log global
    mode http
    option httplog
    retries 3
    timeout connect 5000
    timeout client 50000
    timeout server 50000

# Фронтенд для example.local
frontend web_frontend
    bind *:80
    mode http
    # Проверяем заголовок Host
    acl is_example hdr(host) -i example.local
    use_backend python_weighted if is_example
    default_backend python_weighted  # или можно вернуть 404

# Бэкенд с весами
backend python_weighted
    mode http
    balance roundrobin
    # weight = вес сервера
    server server1 127.0.0.1:8001 weight 2 check
    server server2 127.0.0.1:8002 weight 3 check
    server server3 127.0.0.1:8003 weight 4 check
